.modal {
    background-color: var(--white);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 95%;
    transform: translate(-170%, -50%);
    border-radius: 5px;
    border: 5px var(--oxford) solid;
    display: none;
    transition: 150ms ease-in-out;
}

.modal #modal-close {
    position: absolute;
    top: 1.5%;
    right: 1%;
    cursor: pointer;
    z-index: 5;
    fill: var(--white);
}

#modal-content-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#modal-content-container::-webkit-scrollbar {
    display: none;
}

.modal .hero {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--oxford);
}

.modal .hero-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal .hero img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 72.5%;
    transition: 100ms ease-out;
}

.modal .hero img:hover {
    transform: translate(-50%, -1.25%) scale(1.025);
}

.modal .hero #about-hero-text {
    font-family: 'poppins-regular';
    margin: 0;
    font-size: 5rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: var(--white);
}

.modal section {
    height: fit-content;
    padding: 5rem 10rem 4.5rem;
}

.modal section p {
    margin: 0;
    font-family: 'poppins-regular';
    font-size: 1.25rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.modal section .h1 {
    font-family: 'poppins-bold';
    font-size: 2.5rem;
    text-align: center;
}

.modal .half-hero {
    height: 50%;
    width: 100%;
    background-color: var(--oxford);
}

.modal .half-hero h2 {
    font-family: 'poppins-regular';
    margin: 0;
    font-size: 5rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    color: var(--white);
}

.modal .half-hero .services-grid {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.modal .half-hero .services-grid .grid-item {
    background-color: var(--white);
    box-shadow: 0px 0px 10px 1px var(--oxford);
    border-radius: 5px;
    transition: 150ms ease-in-out;
    cursor: pointer;
    padding: 1rem;
}

.modal .half-hero .services-grid .grid-item:hover {
    box-shadow: 0px 0px 10px 5px var(--oxford);
}

.modal .half-hero .services-grid .grid-item .grid-item-banner {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#web-dev {
    background-image: url('/assets/images/web-dev.png');
}

#seo {
    background-image: url('./assets/images/seo.png');
}

#e-tutor {
    background-image: url('../assets/images/e-tutor.png');
}

.modal .half-hero .services-grid .grid-item .grid-item-text {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .half-hero .services-grid .grid-item .grid-item-text h3 {
    font-family: 'poppins-regular';
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0;
}

.modal .projects-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    background-color: var(--oxford);
    font-family: 'poppins-regular';
    color: var(--white);
    height: 100%;
    position: relative;
}

.modal .projects-hero h2 {
    font-size: 2.5rem;
    margin: 0;
}

.modal .projects-hero .hero-body {
    padding: 0 20rem 0 0;
}

.modal .projects-hero .hero-body p {
    margin: 0;
    text-align: start;
}

.modal .projects-hero .mini-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 20rem 0 0;
}

.modal .projects-hero .mini-grid .mini-grid-item {}

.modal .projects-hero .mini-grid .mini-grid-item h3 {
    color: var(--gold);
    font-size: 2.25rem;
    margin: 0;
}

.modal .projects-hero .mini-grid .mini-grid-item p {
    color: var(--white);
    margin: 0;
    font-size: 1rem;
}

.modal .projects-hero .shape {
    border-radius: 68% 32% 42% 58% / 76% 7% 93% 24%;
    background-color: var(--gold);
    width: 500px;
    height: 700px;
    position: absolute;
    bottom: 50%;
    right: -20%;
    transform: translate(-25%, 60%);
    background: rgb(255, 215, 0);
    background: radial-gradient(circle, rgba(255, 215, 0, 1) 0%, rgba(238, 168, 4, 1) 65%, rgba(223, 145, 0, 1) 100%);
}

.modal .projects-hero .scroll-down,
.hero-img-scroll-down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    padding: 0.25rem 0.5rem;
    transition: 150ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #ffffff25;
        border-radius: 5px;
    }
}

.modal .projects-hero .scroll-down p {
    margin: 0;
    font-size: 0.75rem;
}

.modal .projects-grid {
    background-color: var(--oxford);
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 3.5rem;
    padding: 7.5rem 7.5rem 4.5rem;
    overflow: visible;
}

.modal .projects-grid .project-grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    background-color: #060a15;
    padding: 2rem;
    transition: 150ms ease-in-out;

    &:hover {
        background-color: #03050b;
    }
}

.modal .projects-grid .project-grid-item .project-grid-item-header {
    display: flex;
    grid-template-columns: 1fr 1fr;
    font-family: 'poppins-regular';
    position: relative;
}

.modal .projects-grid .project-grid-item .project-grid-item-header h2 {
    color: var(--white);
    margin: 0;
    font-size: 1rem;
}

.modal .projects-grid .project-grid-item .project-grid-item-header h3 {
    color: var(--gold);
    margin: 0;
    font-size: 0.80rem;
}

.modal .projects-grid .project-grid-item .project-grid-item-header a {
    position: absolute;
    color: var(--gold);
    margin: 0;
    top: 15%;
    right: 0%;
    transform: translate(0%, -15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .projects-grid .project-grid-item .project-grid-item-header a p {
    margin: 0 5px 0;
    font-size: 0.80rem;
}

.modal .projects-grid .project-grid-item .project-grid-item-body {
    width: 100%;
    height: 100%;
}

.modal .projects-grid .project-grid-item .project-grid-item-body img {
    width: 100%;
    transition: 150ms ease-in-out;

    /* &:hover {
        filter: saturate(2);
    } */
}

.modal .hero-img {
    font-family: 'poppins-bold';
    position: relative;
    width: 100%;
    height: 100%;
}

.modal .hero-img .hero-gradient {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 1);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(117, 117, 117, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal .hero-img .project-title-container {
    position: absolute;
    width: 80%;
    height: 20%;
    padding: 1rem;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, -2.5%);
}

.modal .hero-img .project-title-container h2 {
    margin: 0;
    color: var(--oxford);
    font-size: 3rem;
    text-align: center;
}

.section-group .stakeholders {
    display: grid;
    grid-template-areas: "a b c";
    padding: 2rem 10rem;
}

.section-group .stakeholders div {
    padding: 2rem 2rem 1.5rem;
}

.section-group .stakeholders div h2 {
    font-family: 'poppins-bold';
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.section-group .stakeholders div p {
    font-family: 'poppins-regular';
    margin: 0;
    font-size: 0.80rem;
    text-align: center;
}

.section-group .project-summary h2 {
    font-family: 'poppins-bold';
    color: var(--oxford);
    font-size: 3rem;
    margin: 1rem 0;
}

.section-group .project-summary p {
    margin: 0;
    font-size: 1rem;
    font-family: 'poppins-regular';
}

.section-group .video-demo {
    padding: 0.5rem 10rem 2rem;
}

.section-group .video-demo h2 {
    font-family: 'poppins-bold';
    color: var(--oxford);
    font-size: 3rem;
    margin: 0 0 1rem;
}

.section-group .video-demo iframe {
    width: 100%;
    height: 500px;
}

.section-group .features {
    padding: 2.5rem 10rem 2rem;
}

.section-group .features h2,
.section-group .tech h2,
.section-group .screenshots h2 {
    font-family: 'poppins-bold';
    color: var(--oxford);
    font-size: 3rem;
    margin: 0 0 1rem;
}

.section-group .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.section-group .features-grid .feature-grid-item {
    background-color: var(--slate);
    border-radius: 2px;
    color: var(--white);
    font-family: 'poppins-regular';
    padding: 1.5rem 2rem;
    cursor: pointer;
    user-select: none;
}

.section-group .features-grid .active {
    background-color: var(--oxford);
}

.section-group .features-grid .feature-grid-item h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--gold);
}

.section-group .features-grid .feature-grid-item .feature-group,
.section-group .features-grid .feature-grid-item .feature-group-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 2rem 0;
}

.section-group .features-grid .feature-grid-item .feature-group h4,
.section-group .features-grid .feature-grid-item .feature-group-list h4 {
    margin: 0;
    font-size: 1rem;
}

.section-group .features-grid .feature-grid-item .feature-group p {
    margin: 0;
    font-size: 0.80rem;
}

.section-group .features-grid .feature-grid-item .feature-group-list ul {
    margin: 0;
    list-style: disc;
}

.section-group .features-grid .feature-grid-item .feature-group-list ul li {
    margin: 0;
    font-size: 0.80rem;
}

.section-group .tech {
    padding: 2.5rem 10rem 2rem;
    width: 100%;
}

.section-group .tech .tech-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.section-group .tech .tech-grid .tech-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    background-color: #0B132B15;
    padding: 1rem 2rem 1.5rem 2rem;
}

.section-group .tech .tech-grid .tech-group h3 {
    color: var(--oxford);
    font-size: 1.5rem;
    font-family: 'poppins-bold';
    margin: 0;
}

.section-group .tech .tech-grid .tech-group .tool-grid {
    font-family: 'poppins-regular';
    display: flex;
    gap: 0.25rem;
}

.section-group .tech .tech-grid .tech-group .tool-grid .tool-item {
    background-color: var(--white);
    border: var(--fire) 1px solid;
    border-radius: 5px;
    font-size: 0.75rem;
    padding: 0.15rem 0.25rem;
    width: fit-content;
    transition: 150ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #b2222225;
    }
}

.section-group .tech .tech-grid .tech-group .tool-grid .tool-item-blue {
    border: var(--oxford) 1px solid;

    &:hover {
        background-color: #0B132B25;
    }
}

.section-group .tech .tech-grid .tech-group .tool-grid .tool-item-yellow {
    border: var(--gold) 1px solid;

    &:hover {
        background-color: #ffd70025;
    }
}

.section-group .screenshots {
    padding: 2.5rem 10rem 2rem;
    width: 100%;
}

.section-group .screenshots .screenshots-grid {
    width: 100%;
    display: grid;
    grid-template-areas:
        "a a"
        "b c"
        "d e"
        "f f";
}

.section-group .screenshots .screenshots-grid img {
    width: 100%;
    transition: 150ms ease-in-out;
    border-radius: 0px;
    cursor: pointer;

    &:hover {
        transform: scale(1.010);
        border-radius: 5px;
        box-shadow: 0px 0px 15px 5px var(--oxford);
    }
}

.section-group .screenshots .screenshots-grid img.img1 {
    grid-area: a;
}

.section-group .screenshots .screenshots-grid img.img2 {
    grid-area: b;
}

.section-group .screenshots .screenshots-grid img.img3 {
    grid-area: c;
}

.section-group .screenshots .screenshots-grid img.img4 {
    grid-area: d;
}

.section-group .screenshots .screenshots-grid img.img5 {
    grid-area: e;
}

.section-group .screenshots .screenshots-grid img.img6 {
    grid-area: f;
}

.back-to-top {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 0.5rem;
}

.back-to-top button {
    padding: 0.25rem 0.5rem;
    border: none;
    color: var(--white);
    font-family: 'poppins-regular';
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.back-to-top .btp {
    background-color: var(--oxford);

    &:hover {
        background-color: #192c64;
    }
}

.back-to-top .cb {
    background-color: var(--fire);

    &:hover {
        background-color: #e23a3a;
    }
}